h2 span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
}
.column {
	margin: 15px 15px 0;
	padding: 0;

}
.column:last-child {
padding-bottom: 60px;
margin-left:30px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {

}
.column div span {
	position: absolute;
	bottom: -40px;
	left: 0;
	z-index: 1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 28px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	background-color:#f0f0f0;
}
.column div span:hover {
	background-color:#f0f0f1;
}

figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
  border: 6px solid #f0f0f0;
}
figure:hover+span {
		background-color:#f0f0f0;
}
.misc_list figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    margin-top:0px;
    margin-left:0;
}

.misc_list figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}
.misc_list{

	-webkit-transition: rotate(180deg);
}
