html, body {
  height: 100%;
  margin: 0;
  font-family: Sans-Serif;
}
.container{
  min-height:100%;
}
.game-container{
width:100%;

}
.input-name{
  width:140px;
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .ipad-portrait { color: red; } /* your css rules for ipad portrait */
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .score-container{
    width:100px;
  }
}
.score-container{
  float:none;
  margin-left: 35px;
  margin-top:40px;
  display:inline-block;
   position: relative;
   height:300px;
max-height:300px;
width:210px;
overflow: auto;
  white-space: nowrap;
  border:3px solid #424244;
  padding:30px;
  text-align: center;
}
.lefty{
float:right;

}
.menu{
height:100px;
width:700px;
margin:auto;
}
.add-player {
  float:left;
  margin-top:10px;
  margin-right:50px;
  width:300px;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border-radius:24px;
	border:6px solid #83c41a;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:26px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.add-player:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
.add-player:active {
	position:relative;
	top:3px;
}
.footer{
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;
}
.footer {
  height: 50px;
  margin-top: 100px;
  background-color:#424244;
  text-align:center;
  color:white;
  vertical-align: middle;
display: flex;
}
.footer p{
  margin: auto;
  text-align: center;
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .ipad-portrait { color: red; } /* your css rules for ipad portrait */
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .score-container{
    float:none;
    margin-left: 5px;
    margin-top:20px;
    display:inline-block;
     position: relative;
     height:300px;
  max-height:300px;
  width:100px;
  overflow: auto;
    white-space: nowrap;
    border:2px solid #424244;
    padding:30px;
    text-align: center;
  }
  .input-name{
    width:60px;
  }
}
